body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://images.pexels.com/photos/574069/pexels-photo-574069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  background: whitesmoke;
  justify-content: space-around;
  position: fixed;
  overflow: hidden;
  width: 100%;

  top: 0;
}

.contentpageone {
  margin: 7%;
  font-family: "Share Tech Mono", monospace;
}

.contentpageone h1 {
  background: whitesmoke;
  margin: 10%;
}

.contentpageone h2 {
  background: whitesmoke;
  margin: -2% 30% 2% 30%;
}

a { 
  color: inherit; 
  text-decoration: inherit;
} 


.prestations {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.prestation img {
  width: 65%;
}

.prestation {
  width: 45%;
  border: solid 1px black;
  margin: auto;
  padding: 2%;
}
header {
  border: 1px solid transparent;
  border-radius: 1rem;
  margin: 3rem 0rem 0rem 0rem;
  width: 85%;
  height: 7.5rem;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
nav,
nav > ul {
  width: 120%;
  /* height: 100%; */
}
nav > ul {
  list-style-type: none;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
}
nav ul div {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
nav ul div::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 0;
  border-bottom: 2px solid black;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
  pointer-events: none;
}
nav ul div:hover {
  cursor: pointer;
}
nav ul div:hover::before {
  transform: scaleX(1);
}
